.schedule {
  position: relative;
  border: none;
  margin-top: 3px;
  cursor: pointer;
  background-color: lightblue;
}

.active-schedule {
  border-left: 6px solid green;
}

p {
  margin: 4px 0;
}

.delete-schedule {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
  cursor: pointer;
  color: red;
}
